<!-- if user not signed in, render partial view contain sign up and login -->
<!-- if user signed in, root to agendas... -->

<% if user_signed_in? %>	
	<div id="newest-agenda">
		<% @agendas.each do |agenda| %>
		<div class="item">
			<h4><%= agenda.title %> in <%= agenda.place %></h4>
			<small>When: <i> <%= agenda.when.to_formatted_s(:long_ordinal) %></i></small>
			<p><%= agenda.description %></p>
			<code>By: <%= agenda.user.email %></code>
		</div>
		<% end %>
	</div>	
	<div id="user-profile">
		Hello, Thanks for coming back.<br>
		Your last login at <%= current_user.last_sign_in_at %>.<br>
		<%= link_to "Edit Profile", edit_user_registration_path %>
	</div>


<% else %>
	
	<div id="newest-agenda">
		<% @agendas.each do |agenda| %>
		<div class="item">
			<h4><%= agenda.title %> in <%= agenda.place %></h4>
			<small>When: <i> <%= agenda.when.strftime("%B %d, %Y") %></i></small>
			<p><%= agenda.description %></p>
			<code>By: <%= agenda.user.email %></code>
		</div>
		<% end %>
	</div>	
	<div id="registration-form">
		<h2 class="headline">Sign up for free. <br><small><i><%= pluralize(@users_count, 'person') %> around the world have joined! This is your turn!</i></small></h2>

		<%= form_for User.new, :url => user_registration_path do | f |%>
			<div class="field">
				<%= f.label :email %> 
				<%= f.text_field :email %>
			</div>

			<div class="field">
				<%= f.label :password %>
				<%= f.password_field :password %>
			</div>

			<div class="field">
				<%= f.label :password_confirmation %>
				<%= f.password_field :password_confirmation %>
			</div>

			<div class="field">
				<%= f.submit "Sign up" %>		
			</div>

		<% end %>
	</div>
<% end %>