<h1>Listing agendas</h1>

<table>
  <thead>
    <tr>
      <th>No. </th>
      <th>Title</th>
      <th>When</th>
      <th>Place</th>
      <th>Description</th>
      <th>Owner</th>
      <th>Link</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @agendas.each_with_index do |agenda, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= agenda.title %></td>
        <td><%= agenda.when %></td>
        <td><%= agenda.place %></td>        
        <td><%= agenda.description %></td>
        <td><%= agenda.user.email %></td>
        <td><%= link_to "Download Picture", agenda.attachment.url %></td>
        <td><%= link_to 'Show', agenda %></td>
        <td><%= link_to 'Edit', edit_agenda_path(agenda) %></td>
        <td><%= link_to 'Destroy', agenda, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agenda', new_agenda_path %>
