<!DOCTYPE html>
<html>
<head>
  <title>Myagenda</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<style type="text/css">
 	#container { 
 	  width: 960px; 
 	  margin: 0 auto; 
 	  margin-top: 20px; 
 	}

 	#header { 
 	  width: 100%; 
 	  margin-bottom: 10px; 
 	  padding-bottom: 10px; 
 	  border-bottom: 1px solid #ccc; 
 	  overflow: hidden;
 	}

 	#logo {
 	  float:left;
 	  margin-right: 25px;
 	  font-size: 24px;
 	  height: 26px;
 	}

 	#logo a {
 	  font-style: italic; 
 	  text-decoration: none;
 	}

 	#header .menu {
 	  float: right; 
 	  text-align: right;
 	  overflow: hidden; 
 	  width: 80%;

 	}

 	#newest-agenda {
 	  width: 60%;	
 	  float: left;
 	}

 	#newest-agenda .item {
 	  border-bottom: 1px solid #eee;
 	  margin-bottom: 10px;
 	  padding: 10px 20px;
 	}

 	.item h4 {
 		margin-top: 0px;
 	}

 	#registration-form, #user-profile {
 	  width: 33%;
 	  float: right;
 	  padding: 10px 0 10px 20px;
 	  text-align: right;
 	  border-left: 1px solid #eee;
 	}

 	#registration-form .headline{
 		line-height: 20px;
 	}

 	.menu-left {
 	  float: left;
 	}

 	.menu-right {
 	  float: right;
 	}

 	.alert {
 	  padding: 10px; 
 	}

 	.alert.grey {
 	  background-color: #eee;
 	}

 	.alert.red {
 	  background-color: #FF8080;
 	}


</style>
<body>

	<div id="container">

		<div id="header">
			<div id="logo">
				<%= link_to "MyAgenda",  root_path %>	
			</div>
			<div class="menu">
				<% if user_signed_in? %>
					<div class="menu-left">
						<%= link_to "+ New Agenda",  new_agenda_path %> | 
					 	<%= link_to "Agendas",  agendas_path %>
					 	<% if can? :read, @users %>
						  | <%= link_to "Users", users_path %>
						<% end %>
					</div>	
					<div class="menu-right">	
						<a><%= current_user.email %></a> | 
					 	<%= link_to "Log out",  destroy_user_session_path, method: :delete %>		
					</div>			 
				<% else %>
					<%= form_for(:user, :url => session_path(:user)) do |f| %>			  
					  <%= f.label "Login:" %>
					  <%= f.text_field :email %>
					  <%= f.password_field :password %>
					  <%= f.check_box :remember_me %>
					  <%= f.label :remember_me %>
					  <%= f.submit 'Sign in' %>
					  <%= link_to "Forgot your password?", new_password_path(:user) %>
					<% end %>	
				<% end %>	
			</div>
		</div>

		<% if notice %> <p class="alert grey"><%= notice %></p> <% end %>
		<% if alert %> <p class="alert red"><%= alert %></p> <% end %>

		<%= yield %>

	</div>
</body>
</html>